<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Free Course For High School Student</title>
  <link rel="stylesheet" href="/css/homepage.css" />
  <link href="/css/owl.carousel.min.css" rel="stylesheet">
  <link href="/css/owl.carousel.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


  <section class="header-section">
    <div class="top-decorations">
      <div class="decoration-line"></div>
      <a href="#">Đăng nhập</a>
      <div class="decoration-line"></div>
      <a href="#">Đăng kí</a>
    </div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid wrap-navbar">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" asp-controller="Home" asp-action="Index">GIỚI THIỆU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Home" asp-action="TrainingIndustry">NGÀNH ĐÀO TẠO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Home" asp-action="LeaningMaterials">HỌC LIỆU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Home" asp-action="News">TIN TỨC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Home" asp-action="Contact">LIÊN HỆ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Home" asp-action="Certification">CHỨNG CHỈ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="header-content">
      <div class="logo"></div>
      <div class="form-wrap">
        <form class="search-container" role="search">
          <label for="search-input" class="visually-hidden">Tìm kiếm thông
            tin</label>
          <input type="search" id="search-input" class="search-input" placeholder="Tìm kiếm thông tin"
            aria-label="Tìm kiếm thông tin">
          <button type="submit" class="search-button">
            <img src="/images/search-logo.png" alt="Search" class="search-icon">
          </button>
        </form>
        <div class="bell-logo"></div>
      </div>

    </header>
  </section>
  <!---------------- body render ------------ -->
  @RenderBody()
  <!---------------- footer ------------ -->
  <footer class="footer">
    <div class="container-fluid footer-content">

      <div class="footer-columns">
        <div class="contact-column col-lg-4 col-sm-3">
          <div class="contact-info">
            <div class="contact-header">
              <h2 class="title-footer">Liên Hệ</h2>
            </div>
            <p class="contact-detail">(+84)**********</p>
            <p class="contact-detail">Gmail: **********************</p>
            <p class="contact-detail">Địa chỉ: *********</p>
          </div>
        </div>
        <div class="products-column col-lg-4 col-sm-3">
          <div class="products-header">
            <h2 class="title-footer">Sản phẩm</h2>

          </div>
        </div>
        <div class="newsletter-column col-lg-4 col-sm-6 ">
          <div class="newsletter-content">
            <h2 class="title-footer">Nhận thông tin định kì</h2>
            <section class="registration-container">
              <button class="registration-button">Đăng kí</button>
            </section>
            <div class="logo-footer" role="img" aria-label="Company logo"></div>
          </div>
        </div>
      </div>


    </div>
    <p class="copyright">© 2024 ............................</p>
  </footer>


  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>