# VS Code specific files
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Node.js dependencies
node_modules/

# Build Directories
bin/
obj/

# Logs & Debugging
*.log
Logs/

# .NET SDK User Folders
~/.dotnet/store/
~/.nuget/packages/

# Publish Output
publish/

# Environment & Secrets
.env
appsettings.Development.json
secrets.json

# Temporary files
*.bak
*.swp

# Thumbs.db - Windows specific
Thumbs.db
