@{
    ViewData["Title"] = "News";
    Layout = "/Views/Shared/_homepage-layout.cshtml";
}
<div class="news-background"></div>
<div class="border-container"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">

            <div class="news-container-section">
                <div class="news-section">
                    <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                    <div class="news-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut
                        laoreet dolore magna aliquam erat volutpat.
                    </div>
                </div>

                <div class="news-section news-list-section">
                    <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                    <div class="news-list-item">
                        <div class="news-circle"></div>
                        <div class="news-list-text">LOREM IPSUM DOLOR</div>
                    </div>
                    <div class="news-list-item">
                        <div class="news-circle"></div>
                        <div class="news-list-text">LOREM IPSUM DOLOR</div>
                    </div>
                    <div class="news-list-item">
                        <div class="news-circle"></div>
                        <div class="news-list-text">LOREM IPSUM DOLOR</div>
                    </div>
                    <div class="news-list-item">
                        <div class="news-circle"></div>
                        <div class="news-list-text">LOREM IPSUM DOLOR</div>
                    </div>
                </div>

                <div class="news-section news-footer">
                    <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                    <div>LOREM IPSUM DOLOR</div>
                    <div>LOREM IPSUM DOLOR</div>
                </div>
            </div>

            <div class="news-container-section">
                <div class="news-section">
                    <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                    <div class="news-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut
                        laoreet dolore magna aliquam erat volutpat.
                    </div>
                </div>

                <div class="news-section news-list-section">
                    <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                    <div class="news-list-item">
                        <div class="news-circle"></div>
                        <div class="news-list-text">LOREM IPSUM DOLOR</div>
                    </div>
                    <div class="news-list-item">
                        <div class="news-circle"></div>
                        <div class="news-list-text">LOREM IPSUM DOLOR</div>
                    </div>
                    <div class="news-list-item">
                        <div class="news-circle"></div>
                        <div class="news-list-text">LOREM IPSUM DOLOR</div>
                    </div>
                    <div class="news-list-item">
                        <div class="news-circle"></div>
                        <div class="news-list-text">LOREM IPSUM DOLOR</div>
                    </div>
                </div>

                <div class="news-section news-footer">
                    <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                    <div>LOREM IPSUM DOLOR</div>
                    <div>LOREM IPSUM DOLOR</div>
                </div>
            </div>

            <div class="news-container-section">
                <div class="news-section">
                    <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                    <div class="news-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut
                        laoreet dolore magna aliquam erat volutpat.
                    </div>
                </div>

                <div class="news-section news-list-section">
                    <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                    <div class="news-list-item">
                        <div class="news-circle"></div>
                        <div class="news-list-text">LOREM IPSUM DOLOR</div>
                    </div>
                    <div class="news-list-item">
                        <div class="news-circle"></div>
                        <div class="news-list-text">LOREM IPSUM DOLOR</div>
                    </div>
                    <div class="news-list-item">
                        <div class="news-circle"></div>
                        <div class="news-list-text">LOREM IPSUM DOLOR</div>
                    </div>
                    <div class="news-list-item">
                        <div class="news-circle"></div>
                        <div class="news-list-text">LOREM IPSUM DOLOR</div>
                    </div>
                </div>

                <div class="news-section news-footer">
                    <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                    <div>LOREM IPSUM DOLOR</div>
                    <div>LOREM IPSUM DOLOR</div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 card-content-news">
            <div class="container card-wrapper-news">
                <div class="col-lg-6 card-news">
                    <article class="event-card">
                        <div class="event-image-container">
                            <time class="event-date" datetime="2023-06-18">
                                18
                                <br />
                                <span>Th6</span>
                            </time>
                        </div>
                        <h2 class="event-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h2>
                        <p class="event-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            nonummy Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Lorem
                            ipsum
                            dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit, sed diam nonummy</p>
                    </article>
                </div>
                <div class="col-lg-6">
                    <div class="card-news">
                        <img src="#" alt="">
                        <div class="card-news-content">
                            <h3>Lorem ipsum dolor sit amet, consectetur consectetuer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Lorem ipsum
                                dolor sit amet</p>
                        </div>
                    </div>

                    <div class="card-news">
                        <img src="#" alt="">
                        <div class="card-news-content">
                            <h3>Lorem ipsum dolor sit amet, consectetur consectetuer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Lorem ipsum
                                dolor sit amet</p>
                        </div>
                    </div>

                    <div class="card-news">
                        <img src="#" alt="">
                        <div class="card-news-content">
                            <h3>Lorem ipsum dolor sit amet, consectetur consectetuer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Lorem ipsum
                                dolor sit amet</p>
                        </div>
                    </div>
                    <div class="card-news">
                        <img src="#" alt="">
                        <div class="card-news-content">
                            <h3>Lorem ipsum dolor sit amet, consectetur consectetuer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Lorem ipsum
                                dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-wrapper">
                <a href="#" class="button-news">
                    <span>Xem tất cả</span>
                    <span class="icon">»</span>
                </a>
            </div>

            <div class="card-transition-content">

                <div class="card-news-second">
                    <div class="image-news-second">
                        <!-- Placeholder for the image -->
                    </div>
                    <div class="content-news-second">
                        <h3 class="title-news-second">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h3>
                        <p class="description-news-second">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </p>
                        <div class="info-news-second">
                            <div class="author-news-second">
                                <img src="/images/profile-circle.png" alt="Author Icon">
                                <span>Lorem Ipsum</span>
                            </div>
                            <div class="date-news-second">
                                <img src="/images/calendar.png" alt="Date Icon">
                                <span>02 Th12 2022</span>
                            </div>
                            <div class="read-time-news-second">
                                <img src="/images/clock.png" alt="Time Icon">
                                <span>3 Min. To Read</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-news-second">
                    <div class="image-news-second">
                        <!-- Placeholder for the image -->
                    </div>
                    <div class="content-news-second">
                        <h3 class="title-news-second">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h3>
                        <p class="description-news-second">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </p>
                        <div class="info-news-second">
                            <div class="author-news-second">
                                <img src="/images/profile-circle.png" alt="Author Icon">
                                <span>Lorem Ipsum</span>
                            </div>
                            <div class="date-news-second">
                                <img src="/images/calendar.png" alt="Date Icon">
                                <span>02 Th12 2022</span>
                            </div>
                            <div class="read-time-news-second">
                                <img src="/images/clock.png" alt="Time Icon">
                                <span>3 Min. To Read</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <nav aria-label="Page navigation example page-seperate">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" onclick="showPrevCard()">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" onclick="showCard(1)">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" onclick="showCard(2)">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" onclick="showCard(3)">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" onclick="showNextCard()">Next</a>
                    </li>
                </ul>
            </nav>


        </div>

        <div class="col-lg-3">
            <div class="container-news">
                <div class="image-news">
                </div>
                <h3 class="title-news">Phổ biến</h3>
                <ul class="list-news">
                    <li class="item-news">
                        <span class="number-news">1</span>
                        <span class="text-news">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                    </li>
                    <li class="item-news">
                        <span class="number-news">2</span>
                        <span class="text-news">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            nonummy.</span>
                    </li>
                    <li class="item-news">
                        <span class="number-news">3</span>
                        <span class="text-news">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            nonummy.</span>
                    </li>
                </ul>
            </div>

            <div class="news-side-image">
                <div class="image-top"></div>
                <div class="image-bottom"></div>
            </div>

        </div>
    </div>
</div>