@{
    ViewData["Title"] = "News";
    Layout = "/Views/Shared/_homepage-layout.cshtml";
}
<div class="news-background"></div>
<div class="border-container"></div>
<div class="container-fluid">
   <div class="row">
     <div class="col-lg-3">

        <div class="news-container-section">
            <div class="news-section">
                <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                <div class="news-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat.
                </div>
            </div>

            <div class="news-section news-list-section">
                <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                <div class="news-list-item">
                    <div class="news-circle"></div>
                    <div class="news-list-text">LOREM IPSUM DOLOR</div>
                </div>
                <div class="news-list-item">
                    <div class="news-circle"></div>
                    <div class="news-list-text">LOREM IPSUM DOLOR</div>
                </div>
                <div class="news-list-item">
                    <div class="news-circle"></div>
                    <div class="news-list-text">LOREM IPSUM DOLOR</div>
                </div>
                <div class="news-list-item">
                    <div class="news-circle"></div>
                    <div class="news-list-text">LOREM IPSUM DOLOR</div>
                </div>
            </div>

            <div class="news-section news-footer">
                <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                <div>LOREM IPSUM DOLOR</div>
                <div>LOREM IPSUM DOLOR</div>
            </div>
        </div>

        <div class="news-container-section">
            <div class="news-section">
                <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                <div class="news-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat.
                </div>
            </div>

            <div class="news-section news-list-section">
                <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                <div class="news-list-item">
                    <div class="news-circle"></div>
                    <div class="news-list-text">LOREM IPSUM DOLOR</div>
                </div>
                <div class="news-list-item">
                    <div class="news-circle"></div>
                    <div class="news-list-text">LOREM IPSUM DOLOR</div>
                </div>
                <div class="news-list-item">
                    <div class="news-circle"></div>
                    <div class="news-list-text">LOREM IPSUM DOLOR</div>
                </div>
                <div class="news-list-item">
                    <div class="news-circle"></div>
                    <div class="news-list-text">LOREM IPSUM DOLOR</div>
                </div>
            </div>

            <div class="news-section news-footer">
                <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                <div>LOREM IPSUM DOLOR</div>
                <div>LOREM IPSUM DOLOR</div>
            </div>
        </div>

        <div class="news-container-section">
            <div class="news-section">
                <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                <div class="news-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat.
                </div>
            </div>

            <div class="news-section news-list-section">
                <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                <div class="news-list-item">
                    <div class="news-circle"></div>
                    <div class="news-list-text">LOREM IPSUM DOLOR</div>
                </div>
                <div class="news-list-item">
                    <div class="news-circle"></div>
                    <div class="news-list-text">LOREM IPSUM DOLOR</div>
                </div>
                <div class="news-list-item">
                    <div class="news-circle"></div>
                    <div class="news-list-text">LOREM IPSUM DOLOR</div>
                </div>
                <div class="news-list-item">
                    <div class="news-circle"></div>
                    <div class="news-list-text">LOREM IPSUM DOLOR</div>
                </div>
            </div>

            <div class="news-section news-footer">
                <div class="news-title">LOREM IPSUM DOLOR SIT</div>
                <div>LOREM IPSUM DOLOR</div>
                <div>LOREM IPSUM DOLOR</div>
            </div>
        </div>

    </div>
    <div class="col-lg-6 card-content-news">
        <div class="container">
            <div class="col-lg-6 card-news">
                <article class="event-card">
                    <div class="event-image-container">
                        <time class="event-date" datetime="2023-06-18">
                            18
                            <br />
                            <span>Th6</span>
                        </time>
                    </div>
                    <h2 class="event-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h2>
                    <p class="event-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        nonummy Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Lorem ipsum
                        dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit, sed diam nonummy</p>
                </article>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
    <div class="col-lg-3"></div>
   </div>
</div>