@{
    ViewData["Title"] = "TrainingIndustry";
    Layout = "/Views/Shared/_homepage-layout.cshtml";
}
<div class="container industry-wrap">
    <div class="row">
        <div class="col-lg-6">
             <h2 class="section-title industry-title">NGÀNH ĐÀO TẠO</h2>
            <p class="industry-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
            <p class="industry-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
            <p class="industry-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-lg-6 img-industry it-industry"><h3>KỸ THUẬT PHẦN MỀM</h3></div>
    </div>

    <div class="row">
        <div class="col-lg-6 img-industry kdqt-industry"> <h3>KINH DOANH QUỐC TẾ</h3></div>
        <div class="col-lg-6 img-industry design-industry"> <h3>THIẾT KẾ ĐỒ HỌA</h3></div>
    </div>
</div>