* {
  margin: 0;
  padding: 0;
  text-shadow: none;
}

:root {
  --primary-color: #1B58CE;
  --secondary-color: #FFFFFF;
  --content-gray-color: #d9d9d9;
  --title-color: #1B58CE;
  --ligt-blue-color: #91D1FF;
  --button-footer-color: #5E5E5E;
  --content-color: #5E5E5E;
  --gray-color: #ccc;
  --light-gray: #ddd;
  --black-color: #333;
  --dark-black-color: #000000;
  --footer-divider: #777;
  --card-background: #fbfbfb;
}

@media (max-width: 991px) {
  .top-decorations {
    margin-right: 10px;
  }

  .header-bar {
    max-width: 100%;
  }


  .logo {
    font-size: 40px;
    white-space: initial;
    padding: 0 20px;
    margin-left: 15%;
  }

  .search-input {
    padding: 0 20px;
    margin-left: 5%;
  }

  .section-title {
    font-size: 40px;
  }

  .section-description {
    max-width: 100%;
  }

  .main-image {
    max-width: 100%;
  }

  /* nganh dao tao section  */
  .section-description {
    max-width: 100%;
  }

  .section-title {
    max-width: 100%;
    margin-right: 10px;
    font-size: 35px;
  }

  .info-content {
    max-width: 100%;
  }

  .info-column {
    width: 100%;
    margin-top: 40px;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .program-item {
    width: 100%;
  }

  .program-title {
    padding: 100px 20px 0;
  }

  .programs-column {
    width: 100%;
    margin-top: 32px;
  }

  .programs-wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .navigation-dots {
    margin-right: 10px;
  }




  .contact-column,
  .products-column,
  .newsletter-column {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }

  .newsletter-form {
    max-width: 100%;
    margin-right: 2px;
    padding-left: 20px;
  }


  .section-title {
    font-size: 40px;
  }

  .content-container {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }

  .card-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .card {
    margin-top: 40px;
    padding: 100px 20px 0;
  }

  /* --------tin tuc --------- */
  .article-preview {
    max-width: 100%;
    margin-top: 40px;
  }

  .article-image {
    max-width: 100%;
  }

  .article-content {
    max-width: 100%;
  }

  .article-title {
    max-width: 100%;
  }

  .article-summary {
    max-width: 100%;
  }

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.header-section {
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

/* dung chung  */
.section-title {
  color: var(--primary-color);
  text-align: center;
  margin-left: 14px;
  font: 700 53px 'Roboto Flex', sans-serif;

}

/* two decorator */
.top-decorations {
  align-self: flex-end;
  display: flex;
  width: 230px;
  max-width: 100%;
  gap: 20px;
  justify-content: space-between;
  margin: 0px 187px 10px 1px;
}

.decoration-line {
  height: 28px;
  border: 4px solid var(--primary-color);
}

/* dang nhap - dang ki */
.top-decorations a {
  color: var(--dark-black-color);
  /* Change to your desired color */
  text-decoration: none;
  /* Removes the underline */
  font-weight: bold;
}

.top-decorations a:hover {
  color: var(--primary-color);
  /* Optional: Change color when hovering */
}

/* header bar */
.wrap-navbar {
  background-color: var(--primary-color);
}

.navbar-nav .nav-link {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 20px;
}

.navbar-nav .nav-item:hover {
  background-color: white;
}

.navbar-nav {
  margin-left: auto;
  gap: 46px;
}

.header-bar {
  background-color: var(--primary-color);
  display: flex;
  min-height: 87px;
  margin-top: 8px;
  width: 100%;
}

.header-content {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1308px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* -------------------------- */

.logo {
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  width: 109px;
  height: 95px;
  margin-left: 40px;
  background-position: top center;
}

/* --------------form------------ */
.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search-container {
  display: flex;
  margin: auto 0;
}

.bell-logo {
  background-image: url(/images/bell.png);
  width: 28px;
  height: 28px;
  background-size: cover;

}

.search-input {
  border-radius: 5px 0 0 5px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  flex-grow: 1;
  width: fit-content;
  padding: 6px 17px;
  font: 700 20px Roboto Flex, sans-serif;
  border: 1px solid var(--primary-color);
}

.search-input::placeholder {
  color: var(--content-gray-color);
  text-align: center;
}

.search-button {
  border-radius: 0 5px 5px 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 14px;
  border: none;
  cursor: pointer;
}

.search-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 17px;
}

/*----------------- slider ------------------ */
.owl-style {
  display: flex;
  height: 100%;
  margin-top: 27px;
  width: 100%;
}

.item {
  background-image: url(/images/background.png);
  min-height: 579px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





/* -------------------tin tuc section ---------------- */


.footer-content {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.5) 50%), url(/images/footer-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  width: 1446px;
  height: 577px;
}

.contact-column {
  padding-left: 10%;
  margin-top: 5%;
  text-align: left;

}

.products-column {
  margin-top: 5%;
  text-align: left;
}

.newsletter-column {
  margin-top: 5%;
  text-align: left;
  padding-right: 5%;
}

.contact-column p {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 20px;
}



.footer-columns {
  display: flex;
}

.title-footer {
  font-family: Roboto Flex, sans-serif;
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 40px;

}

.registration-container {
  border-radius: 8px;
  background-color: lightblue;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-top: 31px;
  flex-direction: column;
  align-items: flex-end;
  font-size: 24px;
  padding: 0 0px;
  width: 423.59px;

}

.registration-button {
  border-radius: 0 8px 8px 0;
  background-color: var(--button-footer-color);
  padding: 10px 28px;
  color: var(--secondary-color);
  font: 600 15px Roboto Flex, sans-serif;
}

.logo-footer {
  background-image: url(/images/footer-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 215px;
  max-width: 100%;
  height: 199px;
  float: right;
}













.copyright {
  position: relative;
  background-color: var(--content-color);
  z-index: 10;
  color: var(--secondary-color);

  padding: 19px 80px;
  font: 600 15px Roboto Flex, sans-serif;
  text-align: center;
}



/* ----------  about-us section--------------  */
.about-us-content {
  margin: 0 auto;
  text-align: center;
}

.about-us-content h2 {
  margin-top: 70px;
}

.section-description {
  color: var(--content-color);
  text-align: center;
  margin-top: 1138px;
  max-width: 1162px;
  margin: 38px auto;
  font: 600 14px Roboto Flex, sans-serif;

}

/* --------------nganh dao tao--------------------- */
.training-programs {
  display: flex;
  flex-direction: column;
  font-family: Roboto Flex, sans-serif;
  margin: 256px 69px;
}

.content-wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}


.info-column {
  display: flex;
  flex-direction: column;
  width: 37%;
  margin-left: 0;
}


.info-content {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}




.training-programs p {
  color: var(--content-color);
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-top: 25px;
  text-align: left;
  font: 600 14px Roboto Flex, sans-serif;
}


.programs-column {
  display: flex;
  flex-direction: column;
  width: 63%;
  margin-left: 20px;
}

.programs-wrapper {
  flex-grow: 1;
  display: flex;
  gap: 20px;
}

.program-item {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-left: 0;
}

.program-item-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(102, 102, 102, 0) 47%), url(/images/nganhdaotao-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.program-item-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(102, 102, 102, 0) 47%), url(/images/nganhdaotao-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.program-item-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(102, 102, 102, 0) 47%), url(/images/nganhdaotao-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.program-title {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 700;
  padding: 408px 70px 18px;
  flex-grow: 1;
}



.kdqt {
  margin-right: -140px;
}

.tkdh {
  margin-right: -188px;
  padding-bottom: 21px;
}

.ktpm {
  padding-bottom: 23px;
}

.navigation-dots {
  align-self: flex-end;
  display: flex;
  gap: 24px;
  margin: 23px 338px 0 0;
}


.dot {
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.dot-active {
  background-color: var(--title-color);
}

.dot-inactive {
  background-color: var(--ligt-blue-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ----------------tin tuc ----------------- */
.news-container {
  margin-bottom: 122px;
}

.card {
  width: 100%;
  text-align: center;
}

.carousel-inner {
  display: flex;
  justify-content: center;
}

.carousel-item {
  max-width: 800px;
  margin: auto;
}

.article-preview {
  background-color: var(--card-background);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--content-color);
  padding-bottom: 30px;
  margin-top: 116px;
  width: 100%;
}

.article-image {
  aspect-ratio: 3.98;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.article-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1036px;
  margin: 23px 0 0 35px;
  color: var(--dark-black-color);
}

.article-title {
  font-size: 24px;
  font-weight: 700;
}

.article-summary {
  font-size: 16px;
  margin-top: 36px;
}

.article-meta {
  display: flex;
  margin-top: 38px;
  width: 808px;
  max-width: 100%;
  gap: 20px;
  color: var(--footer-divider);
  flex-wrap: wrap;
  justify-content: space-between;
}

.author-info {
  display: flex;
  gap: 25px;
}

.author-avatar {
  display: flex;
  gap: 7px;
  font-size: 11px;
  flex-grow: 1;
}

.avatar-image {
  aspect-ratio: 1.26;
  object-fit: contain;
  object-position: center;
  width: 34px;
}

.author-name {
  margin: auto 0;
}

.publish-date {
  align-self: start;
  display: flex;
  margin-top: 10px;
  gap: 40px 65px;
  font-size: 12px;
  line-height: 1;
}

.separator {
  width: 1px;
  height: 17px;
  border: 1px solid #999;
}

.read-time {
  align-self: start;
  display: flex;
  margin-top: 10px;
  gap: 40px 66px;
  font-size: 12px;
  line-height: 1;
}

.cta-button {
  border-radius: 5px;
  background-color: var(--primary-color);
  font-size: 15px;
  color: var(--secondary-color);
  font-weight: 700;
  line-height: 1;
  margin: 53px 47px 0 0;
  padding: 16px 47px;
  margin-left: 80%;
  text-decoration: none;

}

.pagination .page-item {
  margin: 0 10px;
  margin-top: 30px;
}


.pagination .page-link {
  padding: 10px 15px;

}

.pagination .page-link:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* --------tri thuc----------- */
.knowledge {
  background-image: url(/images/knowledge-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1440px;
  max-width: 100%;
  height: 569px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
  margin-bottom: 100px;
}

.col-economic {
  margin-top: 50px;
  background-color: var(--secondary-color);
  width: 392px;
  max-width: 100%;
  height: 454px;
}

.col-design {
  margin-top: 50px;
  background-color: var(--secondary-color);
  width: 392px;
  max-width: 100%;
  height: 454px;
}

.col-it {
  margin-top: 50px;
  background-color: var(--secondary-color);
  width: 392px;
  max-width: 100%;
  height: 454px;
}

.economic-img {
  background-image: url(/images/economic.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 198px;
  height: 198px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20%;
}

.design-img {
  background-image: url(/images/design.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 198px;
  height: 198px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20%;
}

.it-img {
  background-image: url(/images/it.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 198px;
  height: 198px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20%;
}


.knowledge a {
  text-align: center;
  text-decoration: none;
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  background-color: var(--primary-color);
  transition: background-color 0.3s, color 0.3s;
  padding: 2px 6px;
}

.link-knowledge {
  margin-top: 35%;
  text-align: center;
}

/*------------- contact---------------- */
.contact {
  background-image: url(/images/contact-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  width: 1446px;
  height: 986px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 100%;
  max-width: 900px;
  height: 637px;
  border-radius: 3px;
  background-image: url(/images/opacity-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 30px;
}

.input-custom {
  height: 80px;
  font-size: 20px;
}

.input-textare-custom {
  height: 170px;
  font-size: 20px;

}

.form-wrapper .row>div {
  margin-bottom: 20px;
}

.button-form:hover {
  background-color: var(--primary-color);
  transform: translateY(-2px);
}

.button-form:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
